<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="forms">
            <h1>Formulário</h1>
            <br>
            <div class="conteudo">
                Nome: <input type="text" class="tamanho" name="nome" required> 
                <p></p>
                Idade: <input type="text" class="tamanho" name="idade" required>
                <p></p>
                Endereço: <input type="text" class="tamanho" name="endereco" required>
                <p></p>
                Email: <input type="email" class="tamanho" name="email" required>
                <p></p>
                CPF: <input type="text" class="tamanho" name="cpf" required>
                <p></p>
                <input type="checkbox"> Gostaria de receber e-mails com ofertas?
                <p>
            </div>
            <br>
            <button type="submit" class="submissao">Enviar</button>
            
        </div>

    </div>
</body>
</html>