<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respostas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="forms">
            <h1>Respostas</h1>
            <br>
            <div class="conteudo">
                Nome: {{nome}} 
                <p></p>
                Idade: {{idade}}
                <p></p>
                Endereço: {{endereco}}
                <p></p>
                Email: {{email}}
                <p></p>
                CPF: {{cpf}}
                <p></p>
                <input type="checkbox"> Gostaria de receber e-mails com ofertas?
                <p>
            </div>
            
        </div>

    </div>
</body>
</html>