<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Escolha uma das seguintes manipulações:</h1>
    <p></p>
    <h3>Adicionar produto:</h3>
    <form action="/adcionarProd" method="POST">
        Nome: <input type="text" placeholder="Nome do produto" name="nome" required> 
        Preço: <input type="number" placeholder="Preço" name="preco" required>

        <button type="submit">Adicionar</button>
    </form>

</body>
</html>