<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Página inicial</h1>
    <form action="/paginaEspecifica" method="post">
        <input type="submit" value="noticias">Notícias</input>
        <input type="submit" value="comics">Comics</input>
        <input type="submit" value="jogos">Jogos</input>
        <input type="submit" value="filmes">Filmes</input>
        <input type="submit" value="mais">Mais</input>
    </form>
</body>
</html>