<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
    <h1>Manipular Produtos</h1>
    <a href="/">Volta para home</a>

    <div class="adicionar"> 
        <h2>Adicionar</h2> 
        <br>
        <form action="adicionarProd", method='POST'>
            Nome: <input type="text" name="nome" required>
            <p></p>
            Preço: <input type="text" name="preco" required>
            <button type="submit">Adicionar produto</button>
        </form>
    </div>


    <div class="excluir-alterar">
        <h2>Produtos</h2> 
        
        <ul>
        {% for produto in produtos %}
            <li>
                <form action="{{ url_for('produtos_bp.alterarProd', id = produto.id) }}" method="POST">
                    Nome: <input type="text" value="{{ produto.nome }}" name="nome"> 
                    <p></p>
                    Preço: <input type="text" value="{{ produto.preco }}" name="preco">  
                    <a href="{{ url_for('produtos_bp.excluirProd', id = produto.id) }}">Excluir</a>
                <button type="submit">Alterar</button>
                </form>
            </li>
            <br>
        {% endfor %}
        </ul>
    </div>
   
</body>
</html>

<!--
    1. Pesquisa pelo produto
    2. Aparece o nome e o valor, botão de alterar ou excluir
        2.1 Se excluir, chama rota de excluir
        2.2 Se alterar, aparece os campos via js para alterar
    3. Botão de adicionar novo produto
-->