<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <i class="fas fa-user-circle"></i>
            <h2>Faça seu Login</h2>
            <p>Entre com suas credenciais para acessar o sistema</p>
        </div>
        <form class="login" action="/registrarUsuario" method="post" novalidate id="form">
            <div class="form-group">
                <label for="username">
                    <i class="fas fa-user"></i> Usuário
                </label>
                <input type="text" id="username" name="username" placeholder="Digite seu usuário" required>
            </div>

            <div class="form-group">
                <label for="email">
                    <i class="fas fa-user"></i> Email
                </label>
                <input type="text" id="email" name="email" placeholder="Digite seu email" required>
            </div>
            
            <div class="form-group">
                <label for="password">
                    <i class="fas fa-lock"></i> Senha
                </label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
            </div>
            <p id="message"> </p> <!--Exibe a mensagem do js-->
            
            <div class="form-options" style="margin-top: 20px;">
                <label>
                    <input type="checkbox" name="remember"> Lembrar-me
                </label>
                <a href="#">Esqueci minha senha</a>
            </div>
            

            <button type="submit" class="login-button" id="submit">Entrar</button>         

            {% with messages = get_flashed_messages() %} <!--Busca a mensagem Flash do app.py-->
                {% if messages %} <!--Se houver uma mensagem-->
                    {{ messages }} <!--Exibe a mensagem do flash-->
                {% endif %}
            {% endwith %}

      

        </form>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>